@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items ..... */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

        .main-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
        }

        .main-nav .navbar-header {
            float: none;
        }

        .main-nav .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }

        .main-nav .navbar ul {
            float: none;
        }

        .main-nav .navbar li {
            float: none;
            font-size: 15px;
            margin: 6px;
        }

            .main-nav .navbar li a {
                padding: 10px 16px;
                border-radius: 4px;
            }

        .main-nav .navbar a {
            /* If a menu item's text is too long, truncate it */
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}


.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

    .navbar-inverse .navbar-brand {
        color: #9d9d9d;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-text {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #9d9d9d;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav > .disabled > a,
    .navbar-inverse .navbar-nav > .disabled > a:hover,
    .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #333;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #333;
        }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #fff;
        }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #101010;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #080808;
    }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d;
}

    .navbar-inverse .navbar-link:hover {
        color: #fff;
    }

.navbar-inverse .btn-link {
    color: #9d9d9d;
}

    .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link:focus {
        color: #fff;
    }

    .navbar-inverse .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-inverse .btn-link:focus {
        color: #444;
    }

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

    .navbar-collapse.in {
        overflow-y: auto;
    }

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

        .navbar-collapse.in {
            overflow-y: visible;
        }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}





/* Ali CSS */

body{
    font-family: 'SF UI Text Regular';
}

@font-face {
    font-family: 'SF UI Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Regular'), url('../fonts/sf-ui-text-regular-58646b56a688c.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Text Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Light'), url('../fonts/sf-ui-text-light-5864714f67240.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Text HeavyItalic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text HeavyItalic'), url('../fonts/sf-ui-text-heavy-italic-586470f688b99.woff') format('woff');
    }


.left{
    width: 70%;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
.left img{
    width: 100%;
    height: 100%;
}
.right{
    width:30%;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    top: 0px;
    overflow: auto;
    text-align: center;
    padding-top: 45px;
    overflow-x: hidden;
}
.info{
    text-align: center;
}
.info p{
    color: #626262;
}
.form-group .label-control {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.logo{
    margin-bottom: 50px;
}
.logo img{
    max-width: 190px;
    max-height: 141px;
}
.box{
    border: 1px solid #ededed;
    border-radius: 3px;
    padding:11px 16px;
}
.box:focus{
    border:1px solid #a2a2a2;
}
.form-wrapp{
    width: 355px;
    margin: 50px auto 0;
    text-align: left;
}
.box .form-control {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #c7c7c7;
    background: none;
    border-radius: 0px;
    padding-left: 0;
    margin: 0;
    height: 30px;
    padding: 0;
}
.box .form-control:focus{
    outline: none;
    box-shadow: none;
}
.help-block label{
    color: #626262;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
    vertical-align: middle;
}
.help-block a{
    font-size: 13px;
    color: #626262;
    text-align: right;
    display: block;
}
.help-block input{
    vertical-align: middle;
    margin-top: 0 !important;
}
.help-block a:hover{
    color: #db3640;
}
.form-group{
    margin-bottom: 25px !important;
}
.btn.btn-theme {
    padding: 10px 32px;
}
.blue{
    background: #474c7e;
    color: #fff;
}
.blue:hover{
    background: #373a5f;
    color: #fff !important;
}
.white{
    background: #fff;
    color: #626262;
    border:1px solid #c8c8c8;
}
.white:hover{
    background: #f5f5f5;
    color: #333;
}
.btn.white{
    border:1px solid #c8c8c8;
}
.inline-btns a{
    margin-right: 10px;
    display: inline-block;
}
.inline-btns input{
    display: inline-block;
    margin-right: 12px;
}
.other-account p{
    color: #626262;
}
.other-account p a{
    color: #4a90e2;
}
.other-account p a:hover{
    color: #db3640;
}


.navbar-brand {
    float: left;
    height: auto !important;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    background: #272b35;
    border-bottom: 1px solid #232731;
}
.navbar-brand:hover{
    background: #272b35;
}
.navbar-brand img{
    width: 92px;
    height: 68px;
}
.navbar-inverse {
    background-color: #2b303b !important;
    border-color: transparent !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
    font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff !important;
    font-size: 15px;
    background: #434958 !important;
    border-radius: 0;
}
.main-nav .navbar ul {
    float: none;
    padding-top: 15px !important;
}
.navbar-inverse .navbar-nav>li>a i{
    float: right;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #232731 !important;
}
.page-title{
    margin-bottom: 18px;
}
.page-title h1{
    font-size: 16px;
    color: #626262;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    font-weight: 600;
}
.content{
    padding: 35px 30px;
}
.box {
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 9px 16px 6px;
    position: relative;
}
.box .fa{
    color: #b3b3b3;
    position: absolute;
    right: 10px;
    top: 29px;
    font-size: 17px;
}

.btn.gray{
    background: #f3f3f3;
    border: 1px solid #c6c6c6;
}
.btn.gray:hover{
    background: #d2d2d2;
    border: 1px solid #c6c6c6;
}

.margin-12{
    margin-top: 12px;
}
.inner-title{
    margin-top: 30px;
}
.react-datepicker-popper{
    left: -16px !important;
}
.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: block;
    position: relative;
    background: #fff;
    overflow: hidden;
}
.react-datepicker__month-container {
    float: none !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 2.9rem !important;
    line-height: 2.2rem !important;
    text-align: center;
    margin: 0.666rem 0.166rem !important;
    font-size: 14px;
    margin: 5px !important;
}
.react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #272b35 !important;
    color: #fff;
}
.react-datepicker__day--keyboard-selected:hover {
    background-color: #101215 !important;
}

.react-datepicker__current-month, .react-datepicker-time__header {
    margin-top: 0;
    color: #000;
    font-weight: bold;
    font-size: 1.744rem !important;
}
.react-datepicker__navigation {
    z-index: 1;
}
.rc-time-picker-panel-narrow {
    max-width: 100%;
}
.page-title h1 small{
    padding-left: 15px;
    color: #333 !important;
}
.search .form-control{
    border: 1px solid #979797;
    border-radius: 0px;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    background: #474c7e;
    color: #fff;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.text-center th{
    text-align: center;
}


.table>tbody>tr>td {
    font-size: 14px;
    color: #909090;
    vertical-align: middle !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none !important;
}
.table>thead>tr>th {
    vertical-align: middle !important;
    border-bottom: none !important;
    padding: 14px 8px !important;
}
.table-striped select.form-control {
    color: #6a6a6a !important;
    border: 1px solid #d9d9d9 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 40px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #474c7e !important;
    border-color: #474c7e !important;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #474c7e !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 29px;
    margin-top: 8px;
}
  
  .table .switch input {display:none;}
  
  .table .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .table .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
  
  .table input:checked + .slider {
    background-color: #66b659;
  }
  
  .table input:focus + .slider {
    box-shadow: 0 0 1px #66b659;
  }
  
  .table input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .table .slider.round {
    border-radius: 34px;
  }
  
  .table .slider.round:before {
    border-radius: 50%;
  }


@media (max-width:1290px){
    .left img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .form-wrapp {
        width: 90%;
        margin: 50px auto 0;
        text-align: left;
    }
    .btn.btn-theme {
        padding: 10px 24px;
    }
    .help-block label{
        font-size: 12px;
    }
    
}



@media (max-width:991px){
    .left {
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }
    .left img {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .right {
        width: 90%;
        position: fixed;
        right: 0px;
        top: 0px;
        bottom: 0px;
        top: 0px;
        overflow: auto;
        text-align: center;
        padding-top: 25px;
        background: rgba(255,255,255,0.8);
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        margin: 0 auto;
        height: 90%;
        border-radius: 5px;
        overflow-x: hidden;
    }
    .form-wrapp {
        width: 90%;
        margin: 30px auto 0;
        text-align: left;
    }
    .box {
        border: 1px solid #abaaaa;
        padding: 10px 10px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .content {
        padding: 35px 10px;
    }
}


@media (max-width:767px){
    .left {
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }
    .left img {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .right {
        width: 90%;
        position: fixed;
        right: 0px;
        top: 0px;
        bottom: 0px;
        top: 0px;
        overflow: auto;
        text-align: center;
        padding-top: 25px;
        background: rgba(255,255,255,0.8);
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        margin: 0 auto;
        height: 90%;
        border-radius: 5px;
        overflow-x: hidden;
    }
    .form-wrapp {
        width: 90%;
        margin: 30px auto 0;
        text-align: left;
    }
    .box {
        border: 1px solid #abaaaa;
        padding: 10px 10px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .content {
        padding: 65px 0px;
    }
}


@media (max-width:568px){
    .left {
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }
    .left img {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .right {
        width: 90%;
        position: fixed;
        right: 0px;
        top: 0px;
        bottom: 0px;
        top: 0px;
        overflow: auto;
        text-align: center;
        padding-top: 25px;
        background: rgba(255,255,255,0.8);
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        margin: 0 auto;
        height: 93%;
        border-radius: 5px;
        overflow-x: hidden;
    }
    .form-wrapp {
        width: 90%;
        margin: 30px auto 0;
        text-align: left;
    }
    .box {
        border: 1px solid #abaaaa;
        padding: 10px 10px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .help-block .col-xs-6{
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .help-block a {
        font-size: 13px;
        color: #626262;
        text-align: left;
        display: block;
    }
    .inline-btns input {
        display: inline-block;
        margin-right: 12px;
        width: 100%;
        display: block;
    }
    .inline-btns a {
        margin-right: 10px;
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .navbar-toggle {
        margin-top: 29px !important;
    }
}